[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfrc = "==2023.0.0b4"
robotpy-halsim-gui = "==2023.0.0b7"
numpy = "==1.24.1"
robotpy-ctre = "==2023.0.0b6"
robotpy-navx = "==2023.0.0b2"
robotpy-photonvision = "==2023.1.1b7"
robotpy-rev = "==2023.0.0b2"
robotpy-wpilib-utilities = "==2023.0.0b2"
robotpy-wpimath = "==2023.0.0b7"
robotpy-wpiutil = "==2023.0.0b7"
wpilib = "==2023.0.0b7"

[dev-packages]
hypothesis = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
deploy = "python robot.py deploy"
sim = "python robot.py sim"
test = "python robot.py test"
