[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfrc = "~=2022.0.2"
robotpy-halsim-gui = "~=2022.2.1"
numpy = "~=1.22.1"
robotpy-ctre = "~=2022.0.5"
robotpy-navx = "~=2022.0.0"
robotpy-rev = "~=2022.0.0"
robotpy-wpilib-utilities = "~=2022.0.1"
robotpy-wpimath = "~=2022.2.1"
wpilib = "~=2022.2.1"

[dev-packages]
hypothesis = "*"
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
deploy = "python robot.py deploy"
sim = "python robot.py sim"
test = "pytest"
